# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


.idea
bin
out
dependency_web_server.tar

# need to define to ifnore file dir and cert dir
#files
#certs

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
